// Color palette
$light-bg: #F9F7F7;
$light-blue: #DBE2EF;
$medium-blue: #3F72AF;
$dark-blue: #112D4E;

// Bootstrap overrides
$primary: $medium-blue;
$secondary: $light-blue;
$body-bg: $light-bg;
$body-color: $dark-blue;

$font-size-base: 1.2rem;

@import '../node_modules/bootstrap/scss/bootstrap';